.content h4{
    line-height: 1.6em;
}

.logo #logo{
    max-height: 40px;
    max-width: 133.3px;
}

.red_line{
    border-bottom: 1px solid #EA4748;
    width: 100%;
}

div.content img{
    max-width: 90%;
    margin: 3.5%;
    height: inherit;
    border-radius: 5px;
}
.card .table-view li:first-child{
    border-bottom: 1px solid #EA4748;;
}

/*
Business Card Design
*/

.contact-info{position:relative;box-shadow:0 0 3px 2px #EEE;width:auto;_width:100%;padding:20px;background:#fbfbfb}
.contact-info P{line-height:1.8em}

.contact-info .info{
    font-size: 17px;
    margin: 2px;
    font-weight: bold;
    padding-left: 34px;
}
.contact-info i.phoneico{
    background: url('http://maifang-com-au.qiniudn.com/social.png') no-repeat 0 -32px;
    width: 32px;
    height: 32px;
    display: block;
    float: left;
}

.contact-info i.wechatico{
    background: url('http://maifang-com-au.qiniudn.com/social.png') no-repeat 0 0;
    width: 32px;
    height: 32px;
    display: block;
    float: left;
}

.contact-info i.weboico{
    background: url('http://maifang-com-au.qiniudn.com/social.png') no-repeat -32px 0;
    width: 32px;
    height: 32px;
    display: block;
    float: left;
}

.contact_photo{margin:auto;max-width:150px;height:auto;}
.contact_photo img{width:expression(this.width>150 ? '150px':true);max-width:150px;height:auto}
.contact_name{}
.description{clear:both}
.qrcode{position:absolute;right:15px;top:15px}
.qrcode img{width:expression(this.width>146 ? '146px':true);max-width:146px;height:auto}

/* End of Business card */

.slide{
    overflow: hidden;
}


.slider .slide-group .slide-text {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
}
.slider .slide-group {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    -webkit-transition: all 0 linear;
    -moz-transition: all 0 linear;
    transition: all 0 linear;
}
.slider .slide img {
    max-width: none;
    display: block;
    height: 98%;
}